@import url(../css/global.css);

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: hsl(47, 88%, 63%);
}

main {
    max-width: 325px;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 15px;
    margin: 25px;
    padding: 20px;
    background: hsl(0, 0%, 100%);
    box-shadow: 8px 8px;
    transition: background-color 0.4s ease;

    display: flex;
    flex-direction: column;
    gap: 15px;
}
main:hover {
    background: hsl(47, 84%, 76%);
}
#image-illustration {
    max-width: 325px;
}
#image-illustration img {
    width: 100%;
    border-radius: 12px;
}
#subtitle, #info, #title, #name-profile {
    font-weight: 800;
}
#subtitle {
    max-width: 65px;
    padding: 6px;
    background: hsl(47, 88%, 63%);
}
#info {
    color: hsl(0, 0%, 42%);
}
#title {
    font-size: 1.4rem;
}
#description {
    color: hsl(0, 0%, 42%);
    line-height: 23px;
}
#container-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}
#container-profile figure {
    max-width: 35px;
}
#container-profile img {
    width: 100%;
}